# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# 虚拟环境
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 上传的文件
uploads/*
!uploads/.gitkeep

# 生成的文件
output/*
!output/.gitkeep
custom_templates/*
!custom_templates/.gitkeep

# 发布版本
发布版本/
